body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.completed {
  text-decoration: line-through;
}
.TopBar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  height: 80px;
  padding-left: 20px;
}

.dropdown-qtr {
  background-color: #BAD80A
}

.TopBar img {
  height: 50px;
}

.TopBar h4 {
  font-weight: bold;
  color: #61dafb;
  margin: 0;
}

.TopBar span {
  margin-left: 10px;
  color: #f0f0f0;
  font-size: 0.9em;
  margin-right: 20px;
}

/* Menu */
.ui.inverted.segment {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ui.inverted.segment,
.ui.primary.inverted.segment {
  background: #282c34;
  color: rgba(255, 255, 255, .9);
  border-top: .5px solid;
}
 .item {
   margin-left: 100px;
 }
.ui.secondary.inverted.pointing.menu {
  border-width: 15px;
}

.ui.inverted.menu {
  border: 0 solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-right-width: 0px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-left-color: transparent;
  border-left-width: 0px;
  background: #282c34;
  background-color: #282c34;
  -webkit-box-shadow: none;

  box-shadow: none;
}

.ui.secondary.pointing.menu .active.item {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 700;
  border-bottom: 2px solid rgba(34, 36, 38, .15);
  border-bottom-color: white;
  border-bottom-width: 2px;
}

.ui.secondary.pointing.menu .item {
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-radius: 0;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0 0 -2px;
  padding: .85714286em 1.14285714em;
  border-bottom-width: 2px;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}
